@import "reset.less";
@import "fonts.less";
@import "common.less";

@blanc: #fff;
@noir: #000;
@gris: #303030;
@bleu: #23477f;
@bleu_clair: #7eaeff;

body { font: 15px "GothamBook", sans-serif; color: @noir; background: @blanc; }
a { color: @noir; }

/* Header */
#header {
  position: relative;
  #logo {
    .vhcenter;
    z-index: 200;
    img {
      max-width: 90%;
    }
  }
}
#slider_main {
  img {
    max-width: 100%;
  }
}
#primary-sticky-wrapper {
  background: @gris;
}
#primary {
  width: 100%;
  background: @gris;
  .flexnav {
    > li {
      background: @gris;
      > a {
        background: @gris;
        border: 0;
        color: @blanc;
        text-transform: uppercase;
      }
    }
  }
}
.is-sticky {
  #primary {
    background: @gris;
  }
}
.menu-button {
  background: @gris;
  color: @blanc;
}

/* Layout */
#main {
}

/* Home */
#teasers {
  display: flex;
  margin: 8px 0 0;
}
#competences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 10%;
  width: 66%;
  min-height: 350px;
  background: url(../img/bg/competences.jpg) no-repeat 100% 100%;
  background-size: cover;
  color: @bleu_clair;
  h2 {
    padding: 0 100px 30px 0;
    margin-bottom: 1em;
    display: inline-block;
    color: @blanc;
    text-transform: uppercase;
    background: url(../img/bg/h2.png) no-repeat 100% 100%;
  }
  p {
    width: 300px;
    max-width: 90%;
  }
}
#slider_logo {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    width: 100%;
    padding-left: 3%;
    padding-bottom: 30px;
    text-transform: uppercase;
    margin-top: -40px;
  }
}
#intro {
  margin: 8px 0 0;
  background: url(../img/bg/intro.jpg) no-repeat 0 0;
  background-size: cover;
  color: @blanc;
  padding: 10em 10%;
  p {
    text-align: center;
    margin: 0 0 1em;
  }
}

/* Contenu */
#texte {
  margin: 2em 3%;
  p {
    text-align: justify;
    margin: 1em 0;
  }
}

/* Footer */
#prefooter {
  margin: 8px 0 0;
  background-color: @bleu;
  color: @blanc;
  #coordonnees {
    padding: 20px 0;
    display: flex;
    align-items: center;
    svg {
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 10px;
      path {
        fill: @blanc;
      }
    }
    > div {
      padding: 10px 0;
      flex: 1 1 0%;
      text-align: center;
      &:last-child {
        border-left: 2px solid @blanc;
      }
    }
    #adresse {
      font-size: 16px;
    }
    #tel {
      font-size: 20px;
    }
  }
}
#footer {
  background-color: @bleu;
  #agence {
    .ck_agence;
    svg {
      display: block;
      path {
        fill: #637ca4;
      }
    }
  }
  #liens {
    .ck_liens(#637ca4);
  }
}

@media screen and (max-width: 1023px) {
  #teasers, #coordonnees {
    flex-direction: column;
  }
  #competences, #slider_logo {
    width: 100%;
  }
  #prefooter #coordonnees > div:last-child {
    border: 0;
  }
}